<h2>Feladatleírás</h2>
      
<p>
    Egy kerékpárszervíz webalkalmazásának fejlesztése a cél, amely lehetővé teszi a felhasználók számára, 
    hogy könnyen és hatékonyan szolgáltatásokat vehessenek igénybe.  A webalkalmazásban lehet nyomon követni a javításokat, a kerékpár típusokat, a tuljdonosok adatait, valamint a szerelők adatait.
    Rendelkeznik naptár nézettel és statisztikával, amit grafikonon is ábrázol.
</p>
<p>Az Ön feladata, hogy egy félig elkészített webalkalmazást irányított feladatok megoldásával befejezzen.</p>
<p>
    A feladat megoldásához használnia kell a tanév során tanult technikákat, programozási nyelveket és keretrendszereket.
</p>
<p>
    A megoldás során törekedjen a feladat lépésein sorban haladni. A megszerezhető maximális pontszám: 100 pont.
</p>
